#container
{
	margin: 0 30px;
	background: #efefef;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#header
{
	background: #0098d8;
	padding: 20px;
	text-align: center;
}

#header h1 { margin: 0;color: white;}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	width: 80%;
	padding: 20px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #efefef;
	border-bottom: 1px solid #0098d8;
	border-right: 1px solid #0098d8;
	background-color: white;
}

#edito:hover{
    background-color: #efefef;
    transition: 0.5s;
    border: 1px solid #0098d8;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	width: 80%;
	padding: 20px;
	margin: auto;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	border: 1px solid #efefef;
	border-bottom: 1px solid #0098d8;
	border-right: 1px solid #0098d8;
	background-color: white;
	margin-bottom: 30px;
}


#news:hover{
    background-color: #efefef;
    transition: 0.5s;
    border: 1px solid #0098d8;
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}


a{font-weight: bold; text-decoration: none;color: black;}

a:hover{text-decoration: underline;}